body{
    font-family: Arial, sans-serif;
    background-color: coral;
    margin:0;
    padding: 0;
}

#chat-container{
    width: 300px;
    margin: 50px;
    padding: 20px;
    background-color: cadetblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#messages li{
    padding: 5px;
    border-bottom: 1px soild #ddd;
}

#form{
    display: flex;
    margin-top: 10px;
}

#input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button{
    padding: 10px 20px;
    border: none;
    background-color:azure;
    color:black;
    border-radius: 5px;
    cursor: pointer;


}